In [1]:
# importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\aaron\OneDrive\Desktop\Health Insurance Analysis'

In [3]:
path

'C:\\Users\\aaron\\OneDrive\\Desktop\\Health Insurance Analysis'

In [95]:
# installing dataframe
Insurance = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'insurance.csv'), index_col = False)

In [62]:
Insurance.shape

(1338, 7)

In [101]:
Insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [105]:
Insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [66]:
Insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

# Data Cleaning and consistency checks

In [68]:
# checking for missing data vales
Insurance.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# No missing  values were found

In [70]:
# checking for mixed-type columns
for col in Insurance.columns.tolist():
  weird = (Insurance[[col]].applymap(type) != Insurance[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (Insurance[weird]) > 0:
    print (col)

C:\Users\aaron\AppData\Local\Temp\ipykernel_31144\3040197540.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (Insurance[[col]].applymap(type) != Insurance[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\aaron\AppData\Local\Temp\ipykernel_31144\3040197540.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (Insurance[[col]].applymap(type) != Insurance[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\aaron\AppData\Local\Temp\ipykernel_31144\3040197540.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (Insurance[[col]].applymap(type) != Insurance[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\aaron\AppData\Local\Temp\ipykernel_31144\3040197540.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (Insurance[[col]].applymap(type) != Insurance[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\aaron\AppData\Local\Temp\ipykernel_31144\3040197540.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (Insurance[[col]].applymap(type) != Insurance[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\aaron\AppData\Local\Temp\ipykernel_31144\3040197540.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (Insurance[[col]].applymap(type) != Insurance[[col]].iloc[0].apply(type)).any(axis = 1)
C:\Users\aaron\AppData\Local\Temp\ipykernel_31144\3040197540.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (Insurance[[col]].applymap(type) != Insurance[[col]].iloc[0].apply(type)).any(axis = 1)

# No mixed-typed columns

In [72]:
# checking for duplicates
duplicates = Insurance[Insurance.duplicated()]
print(duplicates)

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

# There was one duplicate. I will keep this duplicate in the data set, It may be a user error or there maybe two people with the same variables.

# Changing the data in the bmi column to 1 decimal place

In [84]:
Insurance['bmi'] = Insurance['bmi'].round(1)
print(Insurance)

      age     sex   bmi  children smoker     region   charges
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.8         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.94
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

# Changing the data in the charges column to 2 decimal places

In [87]:
Insurance['charges'] = Insurance['charges'].round(2)
print(Insurance)

      age     sex   bmi  children smoker     region   charges
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.8         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.94
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]

In [89]:
Insurance_cleaned = Insurance

In [107]:
#Export the cleaned dataframe for insurance
Insurance_cleaned.to_csv(os.path.join(path, '02 Data','Prepared data', 'insurance_checked.csv'), index = False)